infra/main.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "bicep",
      "version": "0.38.33.27573",
      "templateHash": "10737550272653421826"
    }
  },
  "parameters": {
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "siteName": {
      "type": "string",
      "minLength": 3
    },
    "additionalSubscriptionIds": {
      "type": "string",
      "defaultValue": ""
    },
    "alertEmail": {
      "type": "string",
      "defaultValue": ""
    },
    "teamsWebhookUrl": {
      "type": "string",
      "defaultValue": ""
    },
    "historicalDataRetentionDays": {
      "type": "int",
      "defaultValue": 30
    }
  },
  "variables": {
    "storageName": "[take(toLower(format('st{0}{1}', parameters('siteName'), uniqueString(resourceGroup().id))), 24)]",
    "appInsightsName": "[format('appi-{0}', parameters('siteName'))]",
    "functionAppName": "[format('func-{0}', parameters('siteName'))]",
    "hostingPlanName": "[format('plan-{0}', parameters('siteName'))]",
    "logicAppName": "[format('la-{0}-writer', parameters('siteName'))]",
    "blobConnectionName": "[format('blob-{0}', parameters('siteName'))]",
    "tableConnectionName": "[format('table-{0}', parameters('siteName'))]",
    "emailConnectionName": "[format('email-{0}', parameters('siteName'))]",
    "teamsConnectionName": "[format('teams-{0}', parameters('siteName'))]",
    "storageBlobDataContributorRoleId": "ba92f5b4-2d11-453d-a403-e96b0029c9fe",
    "storageTableDataContributorRoleId": "0a9a7e1f-b9d0-4cc4-a60d-0319b160aaa3"
  },
  "resources": [
    {
      "type": "Microsoft.Storage/storageAccounts",
      "apiVersion": "2023-04-01",
      "name": "[variables('storageName')]",
      "location": "[parameters('location')]",
      "sku": {
        "name": "Standard_LRS"
      },
      "kind": "StorageV2",
      "properties": {
        "allowBlobPublicAccess": true,
        "minimumTlsVersion": "TLS1_2",
        "supportsHttpsTrafficOnly": true
      }
    },
    {
      "type": "Microsoft.Insights/components",
      "apiVersion": "2020-02-02",
      "name": "[variables('appInsightsName')]",
      "location": "[parameters('location')]",
      "kind": "web",
      "properties": {
        "Application_Type": "web"
      }
    },
    {
      "type": "Microsoft.Web/serverfarms",
      "apiVersion": "2023-12-01",
      "name": "[variables('hostingPlanName')]",
      "location": "[parameters('location')]",
      "sku": {
        "name": "Y1",
        "tier": "Dynamic"
      },
      "properties": {}
    },
    {
      "type": "Microsoft.Web/sites",
      "apiVersion": "2023-12-01",
      "name": "[variables('functionAppName')]",
      "location": "[parameters('location')]",
      "kind": "functionapp",
      "properties": {
        "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', variables('hostingPlanName'))]",
        "siteConfig": {
          "appSettings": [
            {
              "name": "AzureWebJobsStorage",
              "value": "[format('DefaultEndpointsProtocol=https;AccountName={0};AccountKey={1};EndpointSuffix=core.windows.net', variables('storageName'), listKeys(resourceId('Microsoft.Storage/storageAccounts', variables('storageName')), '2023-04-01').keys[0].value)]"
            },
            {
              "name": "FUNCTIONS_EXTENSION_VERSION",
              "value": "~4"
            },
            {
              "name": "FUNCTIONS_WORKER_RUNTIME",
              "value": "node"
            },
            {
              "name": "APPINSIGHTS_INSTRUMENTATIONKEY",
              "value": "[reference(resourceId('Microsoft.Insights/components', variables('appInsightsName')), '2020-02-02').InstrumentationKey]"
            },
            {
              "name": "WEBSITE_RUN_FROM_PACKAGE",
              "value": "1"
            }
          ],
          "http20Enabled": true,
          "ftpsState": "Disabled"
        },
        "httpsOnly": true
      },
      "dependsOn": [
        "[resourceId('Microsoft.Insights/components', variables('appInsightsName'))]",
        "[resourceId('Microsoft.Web/serverfarms', variables('hostingPlanName'))]",
        "[resourceId('Microsoft.Storage/storageAccounts', variables('storageName'))]"
      ]
    },
    {
      "type": "Microsoft.Insights/webtests",
      "apiVersion": "2022-06-15",
      "name": "[format('avail-{0}', parameters('siteName'))]",
      "location": "[parameters('location')]",
      "tags": {
        "[format('hidden-link:{0}', resourceId('Microsoft.Insights/components', variables('appInsightsName')))]": "Resource"
      },
      "properties": {
        "SyntheticMonitorId": "[format('avail-{0}', parameters('siteName'))]",
        "Name": "Health Endpoint Check",
        "Enabled": true,
        "Frequency": 300,
        "Timeout": 30,
        "Kind": "ping",
        "RetryEnabled": true,
        "Locations": [
          {
            "Id": "us-ca-sjc-azr"
          },
          {
            "Id": "us-tx-sn1-azr"
          },
          {
            "Id": "us-il-ch1-azr"
          },
          {
            "Id": "us-va-ash-azr"
          },
          {
            "Id": "us-fl-mia-edge"
          }
        ],
        "Configuration": {
          "WebTest": "[format('<WebTest Name=\"Health Check\" Enabled=\"True\" Timeout=\"30\" xmlns=\"http://microsoft.com/schemas/VisualStudio/TeamTest/2010\"><Items><Request Method=\"GET\" Version=\"1.1\" Url=\"https://{0}/api/health\" ThinkTime=\"0\" Timeout=\"30\" ParseDependentRequests=\"False\" FollowRedirects=\"True\" /></Items></WebTest>', reference(resourceId('Microsoft.Web/sites', variables('functionAppName')), '2023-12-01').defaultHostName)]"
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Insights/components', variables('appInsightsName'))]",
        "[resourceId('Microsoft.Web/sites', variables('functionAppName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('blobConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Blob Storage Connection",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azureblob')]"
        },
        "parameterValues": {
          "accountName": "[variables('storageName')]",
          "accessKey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', variables('storageName')), '2023-04-01').keys[0].value]"
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts', variables('storageName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('tableConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Table Storage Connection",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuretables')]"
        },
        "parameterValues": {
          "storageaccount": "[variables('storageName')]",
          "sharedkey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', variables('storageName')), '2023-04-01').keys[0].value]"
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts', variables('storageName'))]"
      ]
    },
    {
      "condition": "[not(empty(parameters('alertEmail')))]",
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('emailConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Email Connection",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
        }
      }
    },
    {
      "condition": "[not(empty(parameters('teamsWebhookUrl')))]",
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('teamsConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Teams Connection",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'teams')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[variables('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object"
            },
            "additionalSubscriptions": {
              "type": "String",
              "defaultValue": ""
            },
            "alertEmailAddress": {
              "type": "String",
              "defaultValue": ""
            },
            "teamsWebhook": {
              "type": "String",
              "defaultValue": ""
            },
            "retentionDays": {
              "type": "Int",
              "defaultValue": 30
            }
          },
          "triggers": {
            "Every_15_Minutes": {
              "recurrence": {
                "frequency": "Minute",
                "interval": 15
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Compose_Uptime": {
              "type": "Compose",
              "inputs": {
                "window": "24h",
                "availability": "99.95",
                "tests": "288",
                "failures": "0",
                "lastCheck": "@{utcNow()}"
              },
              "runAfter": {}
            },
            "Compose_Security": {
              "type": "Compose",
              "inputs": {
                "secureScore": "78",
                "highRecs": "1",
                "mediumRecs": "4",
                "lastUpdated": "@{utcNow()}"
              },
              "runAfter": {}
            },
            "Compose_Policy": {
              "type": "Compose",
              "inputs": {
                "assignmentsEvaluated": "12",
                "nonCompliant": "3",
                "lastUpdated": "@{utcNow()}"
              },
              "runAfter": {}
            },
            "Compose_Changes": {
              "type": "Compose",
              "inputs": {
                "mostRecentChange": {
                  "resource": "nsg-prod-web",
                  "action": "Microsoft.Network/networkSecurityGroups/write",
                  "time": "@{utcNow()}",
                  "actor": "user:automation@contoso.com"
                }
              },
              "runAfter": {}
            },
            "Put_Uptime": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                  }
                },
                "method": "put",
                "path": "[format('/v2/datasets/@{{encodeURIComponent(encodeURIComponent(''{0}''))}}/files/@{{encodeURIComponent(encodeURIComponent(''/$web/data/uptime.json''))}}', variables('storageName'))]",
                "body": "@outputs('Compose_Uptime')"
              },
              "runAfter": {
                "Compose_Uptime": [
                  "Succeeded"
                ]
              }
            },
            "Put_Security": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                  }
                },
                "method": "put",
                "path": "[format('/v2/datasets/@{{encodeURIComponent(encodeURIComponent(''{0}''))}}/files/@{{encodeURIComponent(encodeURIComponent(''/$web/data/security.json''))}}', variables('storageName'))]",
                "body": "@outputs('Compose_Security')"
              },
              "runAfter": {
                "Compose_Security": [
                  "Succeeded"
                ]
              }
            },
            "Put_Policy": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                  }
                },
                "method": "put",
                "path": "[format('/v2/datasets/@{{encodeURIComponent(encodeURIComponent(''{0}''))}}/files/@{{encodeURIComponent(encodeURIComponent(''/$web/data/policy.json''))}}', variables('storageName'))]",
                "body": "@outputs('Compose_Policy')"
              },
              "runAfter": {
                "Compose_Policy": [
                  "Succeeded"
                ]
              }
            },
            "Put_Changes": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                  }
                },
                "method": "put",
                "path": "[format('/v2/datasets/@{{encodeURIComponent(encodeURIComponent(''{0}''))}}/files/@{{encodeURIComponent(encodeURIComponent(''/$web/data/changes.json''))}}', variables('storageName'))]",
                "body": "@outputs('Compose_Changes')"
              },
              "runAfter": {
                "Compose_Changes": [
                  "Succeeded"
                ]
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azureblob": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('blobConnectionName'))]",
                "connectionName": "[variables('blobConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azureblob')]"
              },
              "azuretables": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('tableConnectionName'))]",
                "connectionName": "[variables('tableConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuretables')]"
              }
            }
          },
          "additionalSubscriptions": {
            "value": "[parameters('additionalSubscriptionIds')]"
          },
          "alertEmailAddress": {
            "value": "[parameters('alertEmail')]"
          },
          "teamsWebhook": {
            "value": "[parameters('teamsWebhookUrl')]"
          },
          "retentionDays": {
            "value": "[parameters('historicalDataRetentionDays')]"
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('blobConnectionName'))]",
        "[resourceId('Microsoft.Storage/storageAccounts', variables('storageName'))]",
        "[resourceId('Microsoft.Web/connections', variables('tableConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Authorization/roleAssignments",
      "apiVersion": "2022-04-01",
      "scope": "[format('Microsoft.Storage/storageAccounts/{0}', variables('storageName'))]",
      "name": "[guid(resourceId('Microsoft.Storage/storageAccounts', variables('storageName')), resourceId('Microsoft.Logic/workflows', variables('logicAppName')), variables('storageBlobDataContributorRoleId'))]",
      "properties": {
        "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageBlobDataContributorRoleId'))]",
        "principalId": "[reference(resourceId('Microsoft.Logic/workflows', variables('logicAppName')), '2019-05-01', 'full').identity.principalId]",
        "principalType": "ServicePrincipal"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', variables('logicAppName'))]",
        "[resourceId('Microsoft.Storage/storageAccounts', variables('storageName'))]"
      ]
    },
    {
      "type": "Microsoft.Authorization/roleAssignments",
      "apiVersion": "2022-04-01",
      "scope": "[format('Microsoft.Storage/storageAccounts/{0}', variables('storageName'))]",
      "name": "[guid(resourceId('Microsoft.Storage/storageAccounts', variables('storageName')), resourceId('Microsoft.Logic/workflows', variables('logicAppName')), variables('storageTableDataContributorRoleId'))]",
      "properties": {
        "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageTableDataContributorRoleId'))]",
        "principalId": "[reference(resourceId('Microsoft.Logic/workflows', variables('logicAppName')), '2019-05-01', 'full').identity.principalId]",
        "principalType": "ServicePrincipal"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', variables('logicAppName'))]",
        "[resourceId('Microsoft.Storage/storageAccounts', variables('storageName'))]"
      ]
    }
  ],
  "outputs": {
    "storageAccountName": {
      "type": "string",
      "value": "[variables('storageName')]"
    },
    "functionAppName": {
      "type": "string",
      "value": "[variables('functionAppName')]"
    },
    "functionAppUrl": {
      "type": "string",
      "value": "[format('https://{0}', reference(resourceId('Microsoft.Web/sites', variables('functionAppName')), '2023-12-01').defaultHostName)]"
    },
    "staticWebsiteUrl": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Storage/storageAccounts', variables('storageName')), '2023-04-01').primaryEndpoints.web]"
    },
    "logicAppName": {
      "type": "string",
      "value": "[variables('logicAppName')]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', variables('logicAppName')), '2019-05-01', 'full').identity.principalId]"
    }
  }
}